{% extends "base.html" %}

{% block header %}
    <header>
      <nav class="container container--70">
        <ul class="nav--actions">
                {% if user.is_authenticated %}
                   <li class="logged-user">
                    Welcome {{ user.email }}
                <ul class="dropdown">
                    <li><a href="{% url "user_profile" %}">Profile</a></li>
                    <li><a href="{% url "edit_profile" %}">Settings</a></li>
                    <li><a href="{% url "password_change" %}">Change password</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <li><a href="/admin/">Admin panel</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
            </li>
              {% else %}
                    <li><a href="{% url "login" %}" class="btn btn--small btn--without-border">Login</a></li>
                    <li><a href="{% url "register" %}" class="btn btn--small btn--highlighted">Register</a></li>
                {% endif %}
        </ul>
        <ul>
          <li><a href="{% url 'landing_page' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'landing_page' %}#steps" class="btn btn--without-border">What's on?</a></li>
          <li><a href="{% url 'landing_page' %}#about-us" class="btn btn--without-border">About us</a></li>
          <li><a href="{% url 'landing_page' %}#help" class="btn btn--without-border">Needy</a></li>
          <li><a href="{% url "add_donation" %}" class="btn btn--without-border">Donate</a></li>
          <li><a href="{% url 'landing_page' %}#contact" class="btn btn--without-border">Contact</a></li>
        </ul>
      </nav>
    </header>
{% endblock header %}

{% block sikorka %}
<h2>Password changed</h2>
    <p style="color:green; font-size:medium">Password changed with success</p>
{% endblock sikorka %}