{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="header--form-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                <li class="logged-user">
                    {% if user.is_authenticated %}
                        Welcome {{ user.email }}
                    {% endif %}
                    <ul class="dropdown">
                        <li><a href="{% url "user_profile" %}">Profile</a></li>
                        <li><a href="{% url "edit_profile" %}">Settings</a></li>
                        <li><a href="{% url "password_change" %}">Change password</a></li>
                        {% if user.is_authenticated %}
                            {% if user.is_admin %}
                                <li><a href="/admin/">Admin panel</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{% url "logout" %}">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li><a href="{% url 'landing_page' %}" class="btn btn--without-border active">Start</a></li>
                <li><a href="{% url 'landing_page' %}#steps" class="btn btn--without-border">What's on?</a></li>
                <li><a href="{% url 'landing_page' %}#about-us" class="btn btn--without-border">About us</a></li>
                <li><a href="{% url 'landing_page' %}#help" class="btn btn--without-border">Needy</a></li>
                <li><a href="" class="btn btn--without-border">Donate</a></li>
                <li><a href="{% url 'landing_page' %}#contact" class="btn btn--without-border">Contact</a></li>
            </ul>
        </nav>

        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Give back the things you don't want anymore<br/>
                    <span class="uppercase">needy</span>
                </h1>

                <div class="slogan--steps">
                    <div class="slogan--steps-title">4 simple step are enough:</div>
                    <ul class="slogan--steps-boxes">
                        <li>
                            <div><em>1</em><span>Choose things</span></div>
                        </li>
                        <li>
                            <div><em>2</em><span>Pack them in bags</span></div>
                        </li>
                        <li>
                            <div><em>3</em><span>Choose a foundation</span></div>
                        </li>
                        <li>
                            <div><em>4</em><span>Order a courier</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block sikorka %}
    <section class="form--steps">
        <div class="form--steps-instructions">
            <div class="form--steps-container">
                <h3>Important!</h3>
                <p data-step="1" class="active">
                    Complete the details of your belongings.
                    Thanks to this, we will know who is best to pass them on.
                </p>
                <p data-step="2">
                    Choose one to which your donation will go.
                </p>
                <p data-step="3">Provide the address and the date of receipt of the items.</p>
            </div>
        </div>

        <div class="form--steps-container">
            <div class="form--steps-counter">Step <span>1</span>/5</div>

            <form id="form" action="{% url 'add_donation' %}" method="POST" name="form">
            {% csrf_token %}
                <!-- STEP 1: class .active is switching steps -->
                <div data-step="1" class="active">
                    <h3>Select the content of your donation:</h3>

                    {% for category in categories %}
                        <div class="form-group form-group--checkbox">
                            <label>
                                <input
                                        type="checkbox"
                                        name="categories"
                                        value="{{ category.id }}"
                                />
                                <span class="checkbox"></span>
                                <span class="description"
                                >{{ category.name }}</span
                                >
                            </label>
                        </div>
                    {% endfor %}

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn next-step">Next</button>
                    </div>
                </div>

                <!-- STEP 2 -->
                <div data-step="2">
                    <h3>Enter the number of 60l bags in which you packed your things:</h3>

                    <div class="form-group form-group--inline">
                        <label>
                            Amount of 60l bags:
                            <input type="number" id="quantity" name="bags" step="1" min="1"/>
                        </label>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Previous</button>
                        <button type="button" class="btn next-step">Next</button>
                    </div>
                </div>

                <!-- STEP 4 -->
                <div data-step="3">
                    <h3>Select the organization you want to help:</h3>
                    {% for institution in institutions %}
                        <div class="form-group form-group--checkbox">
                            <label>
                                <input type="radio"  name="organization" value="{{ institution.id }}">
                                <span class="checkbox radio"></span>
                                <span class="description">
                                     <div class="title"id="institution">{{ institution.name }}</div>
                                     <div class="subtitle">
                                     {{ institution.description }}
                                     </div>
                                </span>
                            </label>
                        </div>
                    {% endfor %}

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Previous</button>
                        <button type="button" class="btn next-step">Next</button>
                    </div>
                </div>

                <!-- STEP 5 -->
                <div data-step="4">
                    <h3>Provide the address and date of receipt of the item by the courier:</h3>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Pickup address</h4>
                            <div class="form-group form-group--inline">
                                <label> street <input type="text" id="street" name="address"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> city <input type="text" id="city" name="city"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    post code <input type="text" id="post_code" name="postcode"/>
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    phone number <input type="phone" id="phone" name="phone"/>
                                </label>
                            </div>
                        </div>

                        <div class="form-section--column">
                            <h4>Date of receipt</h4>
                            <div class="form-group form-group--inline">
                                <label> date <input type="date" id="date" name="date"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> hour <input type="time" id="time" name="time"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Notes for the courier
                                    <textarea name="more_info" id="comment" rows="5"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Previous</button>
                        <button type="button" class="btn next-step" id="last_button">Next</button>
                    </div>
                </div>

                <!-- STEP 6 -->
                <div data-step="5">
                    <h3>Summary of your donation</h3>

                    <div class="summary" >
                        <div class="form-section" id="summary1">
                            <h4>Your donation:</h4>
{#                            here is the object: part1 in the app_summary.js#}
                        </div>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column" id="summary2">
                                <h4>Pickup address:</h4>
{#                            here is the object: part2 in the app_summary.js#}
                            </div>

                            <div class="form-section--column" id="summary3">
                                <h4>Date of receipt:</h4>
{#                            here is the object: part3 in the app_summary.js#}
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Previous</button>
                        <button type="submit" class="btn">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock sikorka %}
