{% extends 'base.html' %}
{% load static %}
{% block header %}
    <header class="header--main-page">
      <nav class="container container--70">

        <ul class="nav--actions">
                {% if user.is_authenticated %}
                   <li class="logged-user">
                    Welcome {{ user.email }}
                <ul class="dropdown">
                    <li><a href="{% url "user_profile" %}">Profile</a></li>
                    <li><a href="{% url "edit_profile" %}">Settings</a></li>
                    <li><a href="{% url "password_change" %}">Change password</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <li><a href="/admin/">Admin panel</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
            </li>
              {% else %}
                    <li><a href="{% url "login" %}" class="btn btn--small btn--without-border">Login</a></li>
                    <li><a href="{% url "register" %}" class="btn btn--small btn--highlighted">Register</a></li>
                {% endif %}
        </ul>

        <ul>
          <li><a href="{% url 'landing_page' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="#steps" class="btn btn--without-border">What's on?</a></li>
          <li><a href="#about-us" class="btn btn--without-border">About us</a></li>
          <li><a href="#help" class="btn btn--without-border">Needy</a></li>
          <li><a href="{% url "add_donation" %}" class="btn btn--without-border">Donate</a></li>
          <li><a href="#contact" class="btn btn--without-border">Contact</a></li>
        </ul>
      </nav>

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Start helping!<br />
            Put your unwanted items in trusted hands
          </h1>
        </div>
      </div>
    </header>
{% endblock header %}
{% block sikorka %}
    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{ result1 }}</em>
          <h3>donated bags</h3>
          <p>so far our donors have already donated so many bags</p>
        </div>

        <div class="stats--item">
          <em>{{ result2 }}</em>
          <h3>supported organizations</h3>
          <p>so far our donors have already donated so many organizations</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>4 simple steps are enough</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Choose things</h3>
          <p>clothes, toys, equipment and more</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Pack them</h3>
          <p>use garbage bags</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Decide who you want to help</h3>
          <p>choose a trusted place</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Order a courier</h3>
          <p>the courier will arrive at a convenient time</p>
        </div>
      </div>

      <a href="{% url "register" %}" class="btn btn--large">Register at our website</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>About us</h2>
        <p>We are social cooperative with aim to organise and coordinated donors and needy.</p>
        <img src="{% static 'images/signature.svg' %}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static 'images/about-us.jpg' %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Who we help?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Fundations</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Non-governmental organizations</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Local collections</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>In our database you will find a list of verified Foundations we cooperate with.
            You can check what they do, who they help and what they need.</p>
        <ul class="help--slides-items">
         {% for foundation in page_obj %}
            <li>
                <div class="col">
                <div class="title">{{ foundation.name }}</div>
                <div class="subtitle">{{ foundation.description}}</div>
                </div>
                <div class="col"><div class="text">{% for category in foundation.categories.all %}
                    {{ category.name }}
                    {% endfor %}
                </div></div>
            </li>
         {%  endfor %}
        </ul>

        {% include "pagination.html" %}

      </div>

      <!-- SLIDE 2 -->
      <div class="help--slides" data-id="2">
        <p>
          List of supported non government organisation!
        </p>
        <ul class="help--slides-items">
{% for non_governmental in non_governmentals %}
          <li>
            <div class="col">
              <div class="title">{{ non_governmental.name}}</div>
              <div class="subtitle">{{ non_governmental.description}}</div>
            </div>

            <div class="col"><div class="text">{% for category in non_governmental.categories.all %}
                {{ category.name }}
{% endfor %}
            </div></div>
          </li>
{% endfor %}
        </ul>

        {% include "pagination.html" with page_obj=page_obj2 %}

      </div>

      <!-- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p>List of supported local collections!</p>
        <ul class="help--slides-items">
{% for local in locals %}
          <li>
            <div class="col">
              <div class="title">{{ local.name }}</div>
              <div class="subtitle">{{ local.description}}</div>
            </div>

            <div class="col"><div class="text">{% for category in local.categories.all %}
                {{ category.name }}
                {% endfor %}
                </div></div>
          </li>
{% endfor %}
        </ul>
        {% include "pagination.html" with page_obj=page_obj3 %}
      </div>
    </section>

{% endblock sikorka %}
