{% extends "base.html" %}
{% load static %}

{% block header %}
    <header>
      <nav class="container container--70">
        <ul class="nav--actions">
                {% if user.is_authenticated %}
                   <li class="logged-user">
                    Welcome {{ user.email }}
                <ul class="dropdown">
                    <li><a href="{% url "user_profile" %}">Profile</a></li>
                    <li><a href="{% url "edit_profile" %}">Settings</a></li>
                    <li><a href="{% url "password_change" %}">Change password</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_admin %}
                            <li><a href="/admin/">Admin panel</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
            </li>
              {% else %}
                    <li><a href="{% url "login" %}" class="btn btn--small btn--without-border">Login</a></li>
                    <li><a href="{% url "register" %}" class="btn btn--small btn--highlighted">Register</a></li>
                {% endif %}
        </ul>

        <ul>
          <li><a href="{% url 'landing_page' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'landing_page' %}#steps" class="btn btn--without-border">What's on?</a></li>
          <li><a href="{% url 'landing_page' %}#about-us" class="btn btn--without-border">About us</a></li>
          <li><a href="{% url 'landing_page' %}#help" class="btn btn--without-border">Needy</a></li>
          <li><a href="{% url "add_donation" %}" class="btn btn--without-border">Donate</a></li>
          <li><a href="{% url 'landing_page' %}#contact" class="btn btn--without-border">Contact</a></li>
        </ul>
      </nav>


    </header>
{% endblock header %}

{% block sikorka %}
    <h2>Profile section</h2>
    <p style="font-size:medium">User email: {{ user.email }}</p>
    <p style="font-size:medium">User first name: {{ user.first_name }}</p>
    <p style="font-size:medium">User last name: {{ user.last_name }}</p>
{#    <p>{{ user_sum }}</p>#}
{#    <p>{{ given_institutions }}</p>#}
    <hr>
    <p style="font-size:medium">List of users donations:</p>
    <form method="POST">
    {% csrf_token %}
    <table style="font-size:medium">
        <tr>
            <th>id</th>
            <th>bags quantity</th>
            <th>needy</th>
            <th>categories</th>
            <th>date</th>
            <th>time</th>
            <th>status</th>
        </tr>
        {% for donation in donations %}
        <tr>
            <td>{{ donation.id}}</td>
            <td>{{ donation.quantity}}</td>
            <td>{{ donation.institution}}</td>
            <td>{% for category in donation.categories.all %} {{ category.name }} {% endfor %}</td>
            <td>{{ donation.pick_up_date }}</td>
            <td>{{ donation.pick_up_time }}</td>
            <td>{{ donation.is_taken }}</td>
            <td><button type="submit" value="{{ donation.id }}" name="change_status"> change status </button> </td>
        </tr>
        {% endfor %}
    </table>
    </form>
{% endblock sikorka %}